

#Menu1 {
    width: 100%;
    margin:auto;

}

.level1 {

    margin:0 auto;
}

    .level1 .level1 {
        background-color: #EC8A23;
        margin-top: 20%;
        padding-top: 5%;
        width: 100%;
        color: black;
        font-weight: bold;
        height: 30px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 2px 2px 2px 1px rgba(65, 131, 199, 0.5);
        transition: background-color .5s;
    }

.level2 .level2 {
    transition: padding-left 0.5s;
    transition: background-color ease-out .5s;
    border-radius: 10px;
    background-color: rgb(65, 131, 199);
    color: black;
    font-weight: bold;
    margin-bottom: 10%;
    margin-left: 15%;

    padding-left: 20%;
    padding-right:20%;
    width: 100%;
    border: 1px solid rgb(65, 131, 199);
}

    .level2 .level2:hover {
        background-color: coral;
    }

.level1 .level1:hover {
    background-color: blue;
}
